registry=https://registry.npmjs.org/true
@agile-visualizer-team:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NPM_AUTH_TOKEN}
@agilevisualizerteam:registry = https://agilevisualizerteam.jfrog.io/artifactory/api/npm/visualizer_asp_artifactory/
//agilevisualizerteam.jfrog.io/artifactory/api/npm/visualizer_asp_artifactory/:_auth = ${JFROG_TOKEN}
email = fiorentinosalvatore65@gmail.com
always-auth = true