@agilevisualizerteam:registry = https://agilevisualizerteam.jfrog.io/artifactory/api/npm/visualizer_asp_artifactory/
@agile-visualizer-team:registry=https://npm.pkg.github.com/
email = fiorentinosalvatore65@gmail.com
//npm.pkg.github.com/:_authToken=${NPM_AUTH_TOKEN}
//https://agilevisualizerteam.jfrog.io/artifactory/api/npm/avs_releasable-npm/:_authToken=ZmlvcmVudGlub3NhbHZhdG9yZTY1QGdtYWlsLmNvbTpBS0NwOG5IUFZhUVg1VFRrbW95ekJzb3dQZ3M4ZGRROGRvSDV4YWhUUDlXMW9IMjhZQ1N0OGZmaEROZ3VkWXg0UUJQazl1ZXZC
always-auth = true